:root {
    --btn-bg-color: #dadedcdd;
    --btn-bg-secondColor: yellow;
}

* {
    margin: 0;
    padding: 0
}

body {
    background: #eee;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

#principal {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
    padding: 0px 10px 0px 10px;
    
}

header {
    text-decoration: underline;
}

.terms {
    height: 400px;
    background-color: var(--btn-bg-color);
    font-size: 0.8rem;
}

.checkInformation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 70px;
}

#btn-check {
    display: flex;
    align-items: center;
    gap: 10px;
}

#termo {
    width: 25px;
    height: 25px;
    font-weight: bold;
}

.btn-clear {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#btn-clear {
    background-color: var(--btn-bg-secondColor);
    height: 30px;
    width: 50px;
}

canvas {
    border: 1px solid;
    height: 150px;
    width: 100%;
    background: #fff;
} 

.btns {
    display: flex;
    justify-content: space-around;
}

.btns input {
    height: 35px;
    width: 100px;
    background-color: var(--btn-bg-color);
    font-weight: 400;
    border: none;
    cursor: pointer;
}

/*Tablet*/

@media screen and (min-width: 500px) and (max-width: 1023px) {
    
   #principal {
        justify-content: flex-start;
        gap: 40px;
        position: relative;        
    } 

    #btn-clear {
        height: 19px;
        width: 50px;
    }

  .signature {
        display: block;
        margin-top: -40px; 
    } 
    
    canvas {
        height: 200px;
        width: 100%;
    } 

}


/*Smartphone*/

@media screen and (max-width: 499px) {

 #principal {
    justify-content: flex-start;
    gap: 20px;
 }

 .terms {
    height: 300px;
    font-size: 0.6rem;
 }

 #btn-clear {
    height: 20px;
    width: 50px;
  }

 .signature {
    display: block;
 }

 canvas {
    height: 150px;
    width: 100%;
 } 
 
}

@media print {
    .btns {
        display: none;
    }

    .btn-clear {
        display: none;
    }
}